In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv('Data/MLdata_df.csv')

In [3]:
data_df.head()

  geo TIME_PERIOD  IS-EPI  IS-HWI  IS-IP  IS-WSI country_name  Proportion
0  AT  2010-01-01   396.2   397.8  391.9   353.6      Austria    0.026874
1  BE  2010-01-01   399.1   361.6  406.5   360.3      Belgium    0.027875
2  BG  2010-01-01   497.4   454.6  403.8   369.0     Bulgaria    0.027690
3  CY  2010-01-01   700.9   780.6  853.8   764.7       Cyprus    0.058547
4  CZ  2010-01-01   433.0   438.5  432.1   455.2      Czechia    0.029630

In [4]:
# Map 'geo' column to numeric values and add as new column
country_numbers = pd.factorize(data_df['geo'])


data_df['numeric_geo'] = country_numbers[0]
data_df.head()

,geo,TIME_PERIOD,IS-EPI,IS-HWI,IS-IP,IS-WSI,country_name,Proportion,numeric_geo
0,AT,2010-01-01,396.2,397.8,391.9,353.6,Austria,0.026874,0
1,BE,2010-01-01,399.1,361.6,406.5,360.3,Belgium,0.027875,1
2,BG,2010-01-01,497.4,454.6,403.8,369.0,Bulgaria,0.027690,2
3,CY,2010-01-01,700.9,780.6,853.8,764.7,Cyprus,0.058547,3
4,CZ,2010-01-01,433.0,438.5,432.1,455.2,Czechia,0.029630,4

In [5]:
from dotenv import load_dotenv
from os import getenv
import requests

In [6]:
load_dotenv()

APP_NAME = getenv('APP_NAME')
APP_ID = getenv('APP_ID')
APP_SECRET = getenv('APP_SECRET')
USERNAME = getenv('REDDIT_USERNAME')
PASSWORD = getenv('PASSWORD')
TEST = getenv('TEST')

In [7]:
if APP_NAME and APP_ID and APP_SECRET and USERNAME and PASSWORD:
    print("yes")
else:
    print("ERROR")

yes

In [8]:
auth = requests.auth.HTTPBasicAuth(APP_ID, APP_SECRET)

data = {
    'grant_type': 'password',
    'username': USERNAME,
    'password': PASSWORD
}

headers = {'User-Agent': f'windows:{APP_NAME}:v1.0 (by /u/{USERNAME})'}

res = requests.post(
    'https://www.reddit.com/api/v1/access_token', # OAuth2
    auth=auth,
    data=data,
    headers=headers
)

print(res.status_code)

200

In [9]:
TOKEN = res.json()['access_token']
headers = {**headers, **{'Authorization': f'bearer {TOKEN}'}}

In [10]:
res = requests.get('https://oauth.reddit.com/api/v1/me', headers=headers)
print(res.status_code)

200

In [11]:
res

In [12]:
def reddit(endpoint):
    return requests.get(f'https://oauth.reddit.com/{endpoint}', headers=headers)